{
    "current_interview_date_str": "",
    "logfile": "",
     
    "email_from": "",
    "email_to": [],
    "email_server": "localhost",
    "email_port": 25,
    "email_username": "",
    "email_password": "",
     
    "username": "", 
    "password": "",
    "enrollment_location_id": "",
    "init_url": "https://goes-app.cbp.dhs.gov/main/goes",

    "__comment": "Below are optional:",
    "use_gmail": false,
    "gmail_password": "<only required if use_gmail is true>",
    "no_email": false,                                                                                                                                                
    "notify_osx": false
}
