{
    "current_interview_date_str": "",
    "logfile": "",
     
    "email_from": "",
    "email_to": [],
     
    "username": "", 
    "password": "",
    "enrollment_location_id": "",
    "init_url": "https://goes-app.cbp.dhs.gov/main/goes"
}
