{
    "current_interview_date_str": "",
    "logfile": "",
     
    "email_from": "",
    "email_to": [],
    "email_server": "localhost",
    "email_port": 25,
    "email_username": "",
    "email_password": "",
     
    "username": "", 
    "password": "",
    "enrollment_location_id": "",
    "init_url": "https://goes-app.cbp.dhs.gov/goes/jsp/login.jsp",

    "__comment": "Below are optional:",
    "use_gmail": false,
    "gmail_password": "<only required if use_gmail is true>",
    "no_email": false,
    "notify_osx": false,

    "twilio_account_sid": "",
    "twilio_auth_token": "",
    "twilio_from_number": "example: +18005551234",
    "twilio_to_number": "example: +18005551234"
}
